<html>
        <head>
          <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
          <meta charset="utf-8">
          <title>Simple markers</title>
          <style>
            /* Always set the map height explicitly to define the size of the div
             * element that contains the map. */
            #map {
              height: 70%;
              width: 100%
            }
            /* Optional: Makes the sample page fill the window. */
            html, body {
              height: 100%;
              margin: 0;
              padding: 0;
            }
          </style>
        </head>
        <body>
            <section id="direcciones" class="bg-light-gray">
            <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Direcciones</h2>
                        <div class="timeline-body">
                                <p class="text-muted">Iglesia de Jesucristo Palabra Miel - Orlando, FL</p>
                                <p class="text-muted"><a href="https://www.google.com/maps/place/Palabra+Miel+Orlando+FL/@28.7186183,-81.51123,19z/data=!3m1!4b1!4m5!3m4!1s0x88e77588d17380f1:0x4e6187d6af11672f!8m2!3d28.7186183!4d-81.5106828">2320 Rock Springs Rd, Apopka, FL 32712</a></p>
                                <p class="text-muted">Teléfono: <a href="tel:(407) 844-1051">(407) 844-1051</a></p>
                                <p class="text-muted"><a href="tel:(407) 884-0823">(407) 884-0823</a></p>
                                <p class="text-muted"></p>
                        </div>
                    </div>
                </div>
            </section>    

        <div id="map"></div>
            
          <script>
      
            function initMap() {
              var myLatLng = {lat: 28.7184485, lng: -81.5105452};
      
              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 17,
                center: myLatLng
              });
      
              var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Palabra Miel Orlando'
              });
    
            }
          </script>
          <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAH6qjcv2KdcRpjxPxSdWXocwpfhfx56Io&callback=initMap">
          </script>
          
        </body>
      </html>
    
      