<!-- Quienes somos Section -->
    <section id="QuienesSomos" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Quienes Somos</h2>
                    <h3 class="section-subheading text-muted">¡Mirad cuán bueno y cuán delicioso es habitar los hermanos juntos en armonía!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!--<h4>2009-2011</h4>-->
                                    <h4 class="subheading">Visión</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">La visión de Palabra Miel es llevar a la iglesia a que se comprometa con Cristo (2 Co. 11:2), para que esta alcance el nivel de desposada, para finalmente presentarla a Cristo como una iglesia pura y sin mancha (Ef. 5:27). Ser adoradores en espíritu y en verdad; guiar al pueblo de Dios en una alabanza agradable a El, poniendo en practica las bases que nuestro Apóstol ha fundamentado.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!--<h4>March 2011</h4>-->
                                    <h4 class="subheading">Propósito</h4>
                                </div>  
                                <div class="timeline-body">
                                    <p class="text-muted">El propósito de Palabra Miel es pastorear a la iglesia de Cristo, 
                                        creyendo que las ovejas son de él y que a nosotros solo nos corresponde enseñarles, 
                                        cuidarlas, alimentarlas y velar por su crecimiento espiritual. Este propósito abarca:
                                         ministros, obreros, ayudas ministeriales y pueblo en general. Siempre bajo la cobertura 
                                        de nuestro Apóstol Gaspar Sapalú</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/Orlando2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!--<h4>December 2012</h4>-->
                                    <h4 class="subheading">Nuestra Iglesia en Orlando</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Cordialmente les damos la bienvenida a nuestra iglesia localizada en 
                                        la cuidad de Apopka, FL. Juntamente nos gozaremos al hacerles culto ha nuestro glorioso Dios</p>
                                </div>
                            </div>
                        </li>
                        <!--<li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Se Parte
                                    <br>De Nuestra
                                    <br>Familia!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>