<!-- This came from https://tympanus.net/codrops/2012/01/02/fullscreen-background-image-slideshow-with-css3/ -->

<ul class="cb-slideshow">
        <li><span>Image01</span><div><!--<h3>re·lax·a·tion</h3>--></div></li>
        <li><span>Image02</span><div><!--<h3>qui·e·tude</h3>--></div></li>
        <li><span>Image03</span><div><!--<h3>bal·ance</h3>--></div></li>
        <li><span>Image04</span><div><!--<h3>e·qua·nim·i·ty</h3>--></div></li>
        <li><span>Image05</span><div><!--<h3>com·po·sure</h3>--></div></li>
        <li><span>Image06</span><div><!--<h3>se·ren·i·ty</h3>--></div></li>
</ul>